<link href = "stylesheets/graph.css" rel = "stylesheet">

<img src = "images/minified.png" width = 8%>

<div id = "d3">
<div id = "graph" width = 100%></div>
</div>

<script src="//d3js.org/d3.v3.min.js"></script>
<script src ="javascripts/viz.js"></script>
