<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/stylish-portfolio.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href = "/stylesheets/graph.css" rel = "stylesheet">
<link href ="http://dimsemenov-static.s3.amazonaws.com/dist/magnific-popup.css" rel = "stylesheet">


    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row">
                <div class= "col-md-2 left">
                    <div class= "pic.logo">
                        <img src = "images/logo.png" height="160" width="160">
                    </div>
                </div>  
                <div class="col-md-offset-2 col-md-4">
                    <h4>Welcome, Jessica!</h4>
                    <h2>Your Heart Today</h2>
                </div>
                <div class="col-md-4 suggestion"
                </div>
            </div>
        </div>

                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=oVXZTmi2ruI">
                    <button id = {{mood}} style="padding:10px;">{{message}}</button></a>

		
<div id = "d3">
<div id = "graph"></div>
</div>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                
                            </span>
                                
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <!-- Put Your Suggestions Here-->
        </div>
    </aside>

    

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                	<img src ="images/corgi1.png" width = "20%">
                    <h4><strong>Happy Heart</strong>
                    </h4>
                    <p>Hack@Brown<br>February 5-7, 2016</p>
                    <ul class="list-unstyled">
                        <li>Jared, Jessica, Kaitlin, Caeley</li>
                        <li>Made with Corgi Love &#10084;	&#128054;

                        </li>
                    </ul>
                    <br>
                    
                    
                    <hr class="small">
                    <p class="text-muted">Brought to You By Corgis 2k16</p>
                </div>
            </div>
        </div>
    </footer>

  
<script src ="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src = "http://dimsemenov-static.s3.amazonaws.com/dist/jquery.magnific-popup.min.js"></script>
<script src="//d3js.org/d3.v3.min.js"></script>
<script src ="javascripts/viz.js"></script>
<script src = "javascripts/popup.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>
