<link href = "stylesheets/graph.css" rel = "stylesheet">

<h1>{{title}}</h1>


<div id = "d3">
<div id = "graph" width = 100%></div>
</div>

<script src="//d3js.org/d3.v3.min.js"></script>
<script src ="javascripts/viz.js"></script>
